# IDE cruft.
.vscode/
.idea/

# OS cruft.
.DS_Store

# Node
node_modules/
.yarn

# Testing
/events
bin/local.js
/coverage

dist

# Compiled output, should it ever be emitted next to the sources.
src/**/*.js
bin/**/*.js
test/**/*.js