name: Linter

on: push

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x
      
      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Lint files
        run: yarn run lint
