name: Tests

on: push

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js 25.x
        uses: actions/setup-node@v6
        with:
          node-version: 25.x

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn run test --ci --reporters=default --reporters=jest-junit
        env:
          CI: true

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          use_oidc: true
          files: ./junit.xml
